$primary-color: #0000;
$secondary_color: #8b0000;
$third_color: #ffff;
$show-home-image: true;
$home-image: url(../images/bg3.jpg);


@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    // @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($third-color,0.2);
            }
        // }
    }
}
