$primary-color: #444;
$secondary-color: #faf8ed;

* {
    box-sizing: border-box;
}

@mixin easeOut {
    transition: all 0.5s ease-out;
  }

 body {
     background: #faf8ed;
     height: 100%;
     margin: 0;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     line-height: 1.5;     
 }

 body#bg-img{
     background: url(../images/bg4.jpg);
     background-attachment: fixed;
     background-size: cover;
     background-repeat: no-repeat;

 }

 a {
     color: #fff;
     text-decoration: none;
 }

//Menu-Button
.menu-btn{
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: $secondary-color;
        @include easeOut;
    }

    //rotate into x with menu lines
    &.close {
        transform:rotate(180deg);

        .btn-line{
            // line1
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }
            //line 2
            &:nth-child(2) {
                opacity: 0;
             }
             //line 3
             &:nth-child(3) {
                 transform: rotate(-45deg) translate(7px, -6px);
             }
        }
    }

}

//menu overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show {
        visibility: visible;
    }
    &-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }
    &-nav {
        margin: 0;
        padding: 0;
        background: lighten($primary-color,0.2);
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        &.show {
            //slide in from top
            transform: translate3d(0,0,0);

        }
    }

    //branding side
    &-branding {
        background: lighten($secondary-color,0.5);
        @include easeOut;
        transform: translate3d(0,100%,0);
        

        &.show {
            //slide from buttom
            transform: translate3d(0,0,0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            border: solid 3px $primary-color;
        }
        
    }
    .nav-item {
        transform: translate3d(600px,0,0);
        @include easeOut;
        

        &.show {
            //slide in from rigth
            transform: translate3d(0,0,0);
        }
        &.current > a {
            color: $secondary-color;
        }

    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: set-text-color($primary-color);
        text-decoration: none;
        @include easeOut;

        &:hover {
            color: $secondary-color;
        }
    }
}

// delay for each nav item
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}

@function set-text-color($color) {
    @if (lightness($color) > 40) {
      @return #000;
    } @else {
      @return #fff;
    }
  }

